/* Default */
.row {margin-left: 0; margin-right: 0;}
dl, ol, ul {
	margin-top: 0;
	margin-bottom: 0;
}
/* Left */
.navi-wrap > li:hover {background-color: #ccc; cursor: pointer;}

/* Right */
.cont-wrap {background-color: #ddd;}
.hr-line {margin: 1rem; border-bottom: 5px solid #ccc;}


/* 연습문제 */
.wrap {display: flex;}
.lt-wrap {display: none; background-color: chocolate;}
.rt-wrap {flex: 100% 0 0; background-color: darkseagreen;}


/* Responsive - sm */
@media screen and (min-width: 576px) {
	
}

/* Responsive - md */
@media screen and (min-width: 768px) {

}

/* Responsive - lg */
@media screen and (min-width: 992px) {
	.lt-wrap {display: block; flex: 25% 0 0;}
	.rt-wrap {flex: 75% 0 0;}
}

/* Responsive - xl */
@media screen and (min-width: 1200px) {

}